<div class="container">
	<div class="grid">
		<div
			*ngFor="let book of books"
			class="card">
			<img
				[src]="book.imageUrl"
				alt="{{ book.title }}"
				class="card-img" />
			<div class="card-content">
				<h2 class="card-title">{{ book.title }}</h2>
				<p class="card-author">{{ book.author }}</p>
				<p class="card-genre">{{ book.genre }} - {{ book.year }}</p>
				<p class="card-description">{{ book.description }}</p>
				<p class="card-rating">Rating: {{ book.rating }}</p>
			</div>
		</div>
	</div>
</div>
